*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Navbar */
.navmenu{
	border-bottom: 1px black;
	text-align: center;
	height: 61px;
	line-height: 61px;
}

.navigationbar{
	margin: 0px;
	padding: 0px;
	background-color: #ab1515;
	text-align: center;	
}

.navigationbar a{
	font-family: copperplate;
	margin: 15px;
	font-weight: bolder;
	font-size: 25px;
	color: white;
    line-height: 21px;
    text-decoration: underline;
}


label{
	margin: 0 30px 0 0;
	font-size: 20px;
	line-height: 20px;
	display: none;
	width: 35px;
	float: right;
}

#menutoggle{
	display: none;
}

/* home section */

#home{
   
    height: 93vh;
    width: 100%;
    background: url(mainimage.jpg);
    background-size: cover;
    display: flex;
}

.mainhome{
	padding: 180px;
	margin-top: 2px;
	text-align: center;
	justify-content: center;
	font-family: copperplate;
	color: #17b393;
}

.borderhome{
    color: black;
    font-size: 40px;
    font-family: perpetua;
}

.bg{
	font-size: 35px;
	text-align: center;
}

.brief{
	font-size: 20px;
	font-family: monaco;
	color: black;
}

/*portfolio section*/

.H1{
	color: whitesmoke;
	font-weight: bolder;
	text-align: center;
	font-family: copperplate;
	padding: 15px;
	margin: 0px;
	font-size: 50px;
}

.portfolio{
	background-image: url(portfolioimg.jpg);
}

.portfolio .myportfolio{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.portfolio .myportfolio .box{
	height: 17rem;
	width: 30rem;
    border-radius: 1rem;
	margin: 5rem;
	cursor: pointer;
	overflow: hidden;
}

.portfolio .myportfolio .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.portfolio .myportfolio .box:hover img{
	transform: scale(1.1);
}

/* contact section */

.maintxt{
	text-align: center;
	padding: 35px;
	font-size: 30px;
	color: #17b393;
	font-family: copperplate;
}

#maintxt{
	color: black;
	padding: 25px;
	font-size: 20px;
	text-align: center;
}

#contact{
	background-image: url(contactimg.jpeg);
	width: 100%;
	height: 92.7vh;
	text-align: center;
	background-repeat: no-repeat;

}

/* CV section */

.name{
	color: #ab1515;
	font-weight: bolder;
    text-align: center;
    font-family: copperplate;
    font-size: 30px;
}

.image img{
	height: 290px;
	width: 210px;
	display: flex;
	padding: 0px;
	margin: 0px;
	float: left;
}

.t2{
	font-family: copperplate;
	font-size: 35px;
	color: #17b393;
}

.education{
	text-align: center;
	font-family: copperplate;
	font-size: 30px;
	font-weight: bolder;
	text-decoration: underline overline;
	text-decoration-color: #17b393;
}

.table1{
	font-family: papyrus;
	border-style: solid;
    font-size: 18px;
    text-align: center;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-color: #ab1515;
}

.skill{
	display: flex;
	border-style: solid;
	text-align: center;
	justify-content: center;
	color: black;
	padding: 20px;
	font-family: papyrus;
	font-size: 18px;
	border-color: #ab1515;
}

.h2{
	text-align: center;
    font-family: copperplate;
    text-decoration: underline overline;
    text-decoration-color: #17b393;
    font-size: 30px;
}

.h3{
	text-align: center;
	font-family: copperplate;
	text-decoration: underline overline;
	text-decoration-color: #17b393;
	font-size: 30px;
}

.experience{
	display: flex;
	border-style: solid;
	text-align: center;
	justify-content: center;
	color: black;
	padding: 25px;
	font-family: papyrus;
	font-size: 20px;
	border-color: #ab1515;
}

.h4{
	text-align: center;
	font-family: copperplate;
	text-decoration: underline overline;
	text-decoration-color: #17b393;
	font-size: 30px;
}

.personal{
	display: flex;
	border-style: solid;
	text-align: center;
	justify-content: center;
	color: black;
	padding: 25px;
	font-family: papyrus;
	font-size: 20px;
	border-color: #ab1515;
}

/* SITE REPORT */

.klass{
	padding: 5px;
	margin: 5px;
	font-weight: bolder;
	text-align: center;
	font-family: copperplate;
	color: #ab1515;
}

.mysite{
	background-color: #17b393;
	color: black;
	font-family: arial;
	font-size: 15px;
	padding: 15px;
}

.abc{
	color: whitesmoke;
	font-size: 50px;
}

.overprob{
	color: #ab1515;
	font-weight: bolder;
	font-family: arial;
	box-shadow: 3px 3px 4px 3px black;
	font-size: 30px;
	text-align: center;
	font-family: copperplate;

}

#siterep{
	text-align: center;
	background-color: white;
	color: black;
	font-size: 20px;
}

.prob{
	color: #ab1515;
	font-weight: bolder;
	font-family: copperplate;
    font-size: 30px;
    box-shadow: 3px 3px 4px 3px black;
}

.rep{
	text-align: center;
	background-color: white;
	font-size: 20px;
}

.refindex{
	text-align: center;
	background-color: white;
	font-size: 20px;
}

#head{
	color: #ab1515;
	font-weight: bolder;
	font-family: copperplate;
	font-size: 30px;
	box-shadow: 3px 3px 4px 3px black;
}

.refcss{
	text-align: center;
	background-color: white;
	color: black;
	font-size: 30px;
}

.reffcss{
	color: #ab1515;
	font-weight: bolder;
	font-family: copperplate;
	font-size: 30px;
	box-shadow: 3px 3px 4px 3px black;
}

.pqr{
	text-align: center;
	padding-top: 20px;
}



.refimg{
	color: #ab1515;
	font-size: 30px;
	font-weight: bolder;
	box-shadow: 3px 3px 4px 3px black;
	text-align: center;
	background-color: white;
	font-family: copperplate;
}

.over{
	color: #ab1515;
	font-weight: bolder;
	box-shadow: 3px 3px 4px 3px black;
	background-color: white;
	font-family: copperplate;
}

.site1{
	background-color: white;
	font-size: 24px;
	color: black;
	text-align: center;
}

.homep{
	color: #17b393;
	font-family: copperplate;
}

.portfoliop{
     color: #17b393;
     font-family: copperplate;
}

.contactp{
	color: #17b393;
	font-family: copperplate;
}

.curriculumv{
	color: #17b393;
	font-family: copperplate;
}

.siter{
	color: #17b393;
	font-family: copperplate;
}

.dp{
	text-align: center;
	font-family: copperplate;
    font-size: 40px;
    color: white;
    padding-top: 35px;
}

#refport1{
	background-repeat: no-repeat;
	object-fit: cover;
	background-color: #FFFDD0;
}

.reftxt{
	color: black;
}

#refport1 .imageref{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#refport1 .imageref .jpeg{
	height: 20rem;
	width: 30rem;
	border-radius: 1rem;
	margin: 5rem;
	overflow: hidden;
}

#refport1 .imageref .jpeg img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.headin{
	font-size: 30px;
	font-weight: bolder;
	font-family: copperplate;
	box-shadow: 3px 3px 4px 3px black;
	text-align: center;
	color: #ab1515;
	background-color: white;
}

#validation{
	background-repeat: no-repeat;
	object-fit: cover;
	background-color: #ADD8E6;
}

#validation .valid{
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
}

#validation .valid .valid1{
	height: 70%;
	width: 70%;
	border-radius: 2rem;
	margin: 5rem;
	overflow: hidden;
}

#validation .valid .valid1 img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.end{
	text-align: center;
	font-family: copperplate;
	font-size: 50px;
	color: white;
}

@media only screen and (max-width:500px){

	/*Hamburger Icon*/
	label{
		display: block;
		cursor: pointer;
	}

	   .navigationbar{
	 	  text-align: center;
	 	  width: 100%;
	 	  display: none;
	 	  font-size: 6px;
	 }
       .navigationbar a{
          display: block;
          border-bottom: 2px solid black;
          margin: 2px;
       }

    #menutoggle:checked + .navigationbar{
    	display: inline-block;
    }
    
    /*HOME SECTION*/
    #home{
    	font-size: 11px;
    	text-align: center;
    	justify-content: center;
    	object-fit: cover;
    }
    
    .H1{
    	text-align: center;
    	font-size: 26px;
    }
    
    .borderhome{
    	text-align: center;
    	font-size: 21px;
    }

    .bg{
    	text-align: center;
    	font-size: 26px;
    }
    
    /*CV*/
    .table1{
    	text-align: center;
    	object-fit: cover;
    	font-size: 16px;
    }

    /*PORTFOLIO*/
    .H1{
    	font-size: 21px;
    }

    /*SITE REPORT*/
    .reftxt{
    	color: white;
    	font-size: 9px;
    }

    .ind{
        font-size: 16px;
    	} 
    
    .pqr{
    	font-size: 16px;
    }  
      }





